body {
    color: blue;
}

.row__layout {
  /*display:block;*/
}

.menu__button {
    display:block;
    margin: 5px;
    text-align:center;
}

.login {
    display: block;
    &__btn {
      width: 100%;
    }
} 

.scoreboard {
    display: block;
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
    font-size: 32px;
    &_center {
      margin: 10px;
      text-align: center;
    }
}

.field {
    margin: 10px;
}

.main-btn {
    width: 50%;
    height: 50%;
}
